h1= hed
each graf in deck
  p= graf

h2 Ethiopia
each graf in ethiopia
  p= graf
div#ethiopia

h2 Afghanistan
each graf in afghanistan
  p= graf
div#afghanistan

h2 Iraq
each graf in iraq
  p= graf
div#iraq

h2 Syria
each graf in syria
  p= graf
div#syrian-arab-rep

h2 Total
each graf in total
  p= graf
div#total
