h1= hed
each graf in deck
  p= graf

h2 Afghanistan
each graf in afghanistan
  p= graf
div#afghanistan

h2 Colombia
each graf in colombia
  p= graf
div#colombia

h2 Sudan
each graf in sudan
  p= graf
div#sudan

h2 South Sudan
each graf in south_sudan
  p= graf
div#south-sudan

h2 Congo
each graf in congo
  p= graf
div#dem-rep-of-the-congo

h2 Somalia
each graf in somalia
  p= graf
div#somalia

h2 Iraq
each graf in iraq
  p= graf
div#iraq

h2 Syria
each graf in syria
  p= graf
div#syrian-arab-rep

h2 Libya
div#libya

h2 Yemen
div#yemen

h2 Cote d'Ivoire
div#cote-divoire

h2 Ukraine
div#ukraine

h2 Chad
div#chad

h2 Eritrea
div#eritrea

h2 Pakistan
div#pakistan

h2 The global crisis
each graf in total
  p= graf
div#total
